

:root {
    --screen-width:     320px;
    --screen-height:    560px;
    --header-bg-color:  #673AB7;
    --splash-bg-color:  #368887;
  }
  
  // calculate a circle's circumference based on radius
  @function circumference($r){
    $pi: 3.141592653;
    @return 2*$pi*$r;
  }
  
  
  // ---------------------------
  // Main Navigation Menu
  // ---------------------------
  
  .nav {
    
    // Toggle Button
    &__toggle {
      display:inline-block;
      position:absolute;
      z-index:10;
      padding:0;
      border:0;
      background:transparent;
      outline:0;
      right:15px;
      top:15px;
      cursor:pointer;
      border-radius:50%;
      transition:background-color .15s linear;
      
      &:hover,
      &:focus {
        background-color:rgba(0,0,0,.5);
      }
    }
    
    &__menu {
      display:flex;
      flex-direction:column;
      justify-content:center;
      height:var(--screen-height);
      position:relative;
      z-index:5;
      visibility:hidden;
    }
    
    &__item {
      opacity:0;
      transition: all .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
    }
    @for $i from 1 through 5 {
      &__item:nth-child(#{$i}){
        transform:translateY(-40px * $i);
      }
    }
    
    &__link {
      color:white;
      display:block;
      text-align:center;
      text-transform:uppercase;
      letter-spacing:5px;
      font-size:1.25rem;
      text-decoration:none;
      padding:1rem;
      
      &:hover,
      &:focus {
        outline:0;
        background-color:rgba(0,0,0,0.2);
      }
    }
  }
  
  
  // ---------------------------
  // SVG Menu Icon
  // ---------------------------
  
  .menuicon {
    display:block;
    cursor:pointer;
    color: white;
    
    transform:rotate(0deg);
    transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
    
    &__bar,
    &__circle {
      fill:none;
      stroke: currentColor;
      stroke-width:3;
      stroke-linecap:round;
    }
    &__bar {
      transform: rotate(0deg);
      transform-origin:50% 50%;
      transition: transform .25s ease-in-out;
    }
    &__circle {
      transition: stroke-dashoffset .3s linear .1s;
      stroke-dashoffset:circumference(23); // 23 is the <circle>'s radius
      stroke-dasharray:circumference(23);
    }
  }
  
  
  // ---------------------------
  // Circular Splash Background
  // ---------------------------
  
  .splash {
    position:absolute;
    top:40px;
    right:40px;
    width: 1px;
    height: 1px;
    
    &::after {
      content:"";
      display:block;
      position:absolute;
      border-radius:50%;
      background-color:var(--splash-bg-color);
      
      // screen diameter can be 142vmax at most,
      // circle needs to be twice that size to cover it
      width:284vmax;
      height:284vmax;
      top:-142vmax;
      left:-142vmax;
      
      transform: scale(0);
      transform-origin:50% 50%;
      transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);
      
      // will-change tells the browser we plan to 
      // animate this property in the near future
      will-change:transform;
    }
  }
  
  
  // ---------------------------
  // Active State
  // ---------------------------
  
  .nav:target,
  .nav--open {
    
    //scale the background circle to full size
    > .splash::after {
      transform:scale(1);
    }
    
    //animate the menu icon
    .menuicon {
      color:white;
      transform:rotate(180deg);
      
      &__circle {
        stroke-dashoffset:0;
      }
      &__bar:nth-child(1),
      &__bar:nth-child(4) {
        opacity:0;
      }
      &__bar:nth-child(2) {
        transform: rotate(45deg);
      }
      &__bar:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
    
    //show the nav items
    .nav {
      &__menu {
        visibility:visible;
      }
    
      &__item {
        opacity:1;
        transform:translateY(0);
      }
    }
  }
  














*  { 
    margin: 0; 
    padding: 0; 
    border: 0;
    box-sizing: border-box;
    font-family: Lato;
}

html {
    height: 100%;
  }

body { 
    text-align:center; 
    position: relative;
    overflow-x: hidden;
    height: 100&;
} 

#wrapper {
    display: flex;
    flex-direction: column;  
    
    .inner {
         height: 100%;
         max-width: 1300px;
         text-align:left;   
         margin: auto;    
         padding: 0 30px;
 
        header {    
            position: absolute;
                display: flex;
                // margin: 35px auto;
                margin: 0 auto;
                padding: 18px;
                left: 0;
                max-width: 1400px;
                right: 0;
                z-index: 999;
           
            a {
                text-decoration: none;
                color: #ffffff;
            }
        }
          
            ul {
                list-style-type: none;
                display: flex;
                position: relative;
                flex: 1;
                justify-content: flex-end;
        
                li {
                    margin: 0 25px;
                }

                li:first-child {
                    position: absolute;
                    left: 0;
                }
            }
    }
}

.top-section {
       header {
        max-width: 1300px;
        margin: auto;
        padding: 25px;
    }

    .top-inner {
        max-width: 1300px;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.home-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/main-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 650px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;
    justify-content: flex-end;

    .center {
        margin-bottom: -155px;
    }
  
    p {   
        font-size: 50px;
        font-weight: 300;
      }

    h1 {
        font-size: 90px;
        font-weight: 900;       
        margin-top: 20px;
        margin-bottom: -17px;
    }

    .social-icons {
        margin: 40px auto ;
        img {
            height: 37px;
            width: 37px;
            margin: 10px;
        }
    }
}

.personal-image img {
    height: 360px;
    width: 360px;
    border-radius: 50%;
}

.main-section-wrapper {
    margin-top: 150px;
    margin-bottom: 108px;
    text-align: center;

    .top-icons {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: auto; 
        margin-left: 55px;
        margin-left: 90px;
        margin-top: -15px;
        margin-top: 80px;
        max-width: 1145px;

        > div {
            padding-left: 65px;
            padding-right: 60px;
        }

        p {
            font-size: 20px;
            font-weight: bold;    
            margin-top: 24px;
            text-align: center;
        }      
        
        .icon-wrapper {
            height: 75px;
            justify-content: center;
            display: flex;
            align-items: flex-end;
        }
    }   

    hr {
        border: 1px solid #2fd0d8;
        width: 200px;
        margin: 120px auto;
    } 

    .junior-developer {
        display: flex;

        .desktop {
            display: flex;
            align-items: flex-end;
            img {
                height: 400px;
                width: 570px;
            }
        }

        .context {
            display: flex;
            flex-direction: column;
            text-align: left;  
            margin-left: 80px;
            max-width: 500px;

            h1 {
                font-size: 40px;
                font-weight: 900;    
                margin-bottom: 30px;  
            }

            p {
                font-size: 20px;
                font-weight: 300;       
                margin-bottom: 30px;    
                line-height: 1.55;   
            }

            h4 {
                font-size: 20px;
                font-weight: 900;   
                line-height: 1.55;   
            }
        }         
    }

    .menu-circles {
        > a {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            width: 251px;
            height: 251px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
            border: solid 1px #e5e5e5;
            background-color: #ffffff;
            border-radius: 50%;
            margin: auto 40px;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;   
            margin-top: 30px;      
            color: #000000;
        
            a:visited {
                color: #000000;
            }
        }
    }
}

.footer {
    display: flex;
    max-width: 1300px;
    text-align:left;   
    justify-content: space-between;
    margin-top: 180px;
    width: 100%;
    margin: auto;
    height: 120px;
    align-items: center;
    padding: 0 25px;

    .footer-data {
        display: flex;
    }

    p {
        font-size: 20px;
        font-weight: 900;      
        color: #2fd0d8;
        margin-right: 30px;
        line-height: 35px;
    }

    .social-icons img {
        margin-right: 20px;
    }

    .footer-menu {
        a {
            font-size: 16px;
            color: #afafaf;
            text-decoration: none;
            margin: auto 12.5px;
        }
    }
}

.common-top {
    height: 425px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/home3.jpg');


    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

    h1 {
    font-size: 70px;
    font-weight: 900;
    color: #ffffff;    
    }
}

hr {
    border: 1px solid #2fd0d8;
    width: 200px;
    margin: 70px auto;
  } 

  // Ipad 
  @media screen and (min-width: 768px) and (max-width: 1091px) {
    .main-section-wrapper {

        .top-icons  {
            margin: auto;
            margin-top: 70px;
            > div {
                padding: 0 40px;
            }
            
            p {
                font-size: 12px;
            }  
        }

        .junior-developer {
            display: inline-block;

            .desktop  {
                display: block;
                img {
                    height: 310px;
                    width: 410px;    
                }
            }

            .context {
                margin: auto;
                max-width: 560px;
                text-align: center;
                margin-top: 70px;
            }
        }

        .menu-circles {
            > a {
                height: 150px;
                width: 150px;
                justify-content: center;
                align-items: center;

                img {
                    width: 55px;
                }

                p {
                    margin-top: 5px;
                }
            }

            a {
                font-size: 16px;
            }
        }
        
        hr {
            margin: 70px auto;
        }
    }
  }
  
  // Mobile
  @media screen and (max-width: 768px) {
    #wrapper {
        .inner {
            max-width: 768px;
            padding: 0;
        }

        .top-icons {
            flex-direction: column;
            margin: 0;
            max-width: unset;
            margin-top: 40px;
        }
    }
    
    .home-top {
        background-image: url('./images/main-background-mobile.jpg');
        max-width: 768px;
        height: 450px;
        // width: auto;
        position: unset;
        left: auto;
        right: auto;
        margin-left: unset;
        margin-right: unset;
        background-size: unset;
        p {
            font-size: 40px;
        }

        h1 {
            font-size: 50px;
        }

        .personal-image {
            img {
                height: 260px;
                width: 260px;
            }
        }
    }    

    .main-section-wrapper {
        hr {
            margin: 60px auto;
        }

        .top-icons {
            .icon-wrapper {
                flex-direction: column;
                align-items: center;
            }

            img {
                margin-bottom: 30px;
            }

            > div {
                padding: 0;
                margin-top: 30px;
            }

            > div:not(:first-child)::before {
                content: '';
                display: inline-block;
                height: 2px;
                position: relative;
                width: 200px;
                margin-bottom: 30px;
                vertical-align: middle;
                background-color: #d4cece;        
            }    
        }
        
        .junior-developer {

            .context {
                text-align: center;
                padding: 0 20px;
                max-width: 500px;
                margin: auto;

                h1 {
                    font-size: 35px;
                }
            }

            .desktop {
                display: none;
            }
        }

        .menu-circles {
            display: flex;
            flex-direction: column;
            align-items: center;

            > a {
                height: 220px;
                width: 220px;
            }
        }
    }
    
    .footer {
        flex-direction: column;
        height: 233px;
        background-color: #f2f2f2;
        max-width: unset;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin: auto;

        .social-icons {
            img {
                margin: 0 10px;
            }
        }

        .footer-data {
            flex-direction: column;
            order: 2;
            margin-top: 40px;

            p {
                order: 2;
                margin-right: 0;
            }

            .social-icons {
                order: 1;
                margin-bottom: 22px;
            }
        }
    }
  }
